##modulCFG##
name<=>core_advert_advertiser<#>
mainTable<=>core_advert_advertiser<#>
modulBase<=>modulframe<#>
impPath<=>core_advert_advertiser/<#>
templatePopupName<=>layout2<#>
viewDescription<=>0<#>
is_newItemcount<=>0<#>
noCopy<=>1<#>
noView<=>1<#>
##/modulCFG##
##listCFG##
optionView<=>selectName<=>core_localserver<=>x_core_localserverID<=>id<=>name<#>
optionView<=>selectName<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<#>
simple<=>order<=>name<=>x_name<#>
simple<=>order<=>actionCount<=>x_actionCount<#>
insertwhowhen<=>order<=>insertWhen<=>x_insertWhen<#>
##/listCFG##
##inputCFG##
optionSelect<=>core_localserver<=>x_core_localserverID<=>id<=>name<=><=>150<#>
optionSelect<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<=><=>150<#>
simple<=>x_name<=>62<=>100<#>
simple<=>x_zipcode<=>5<=>5<#>
simple<=>x_settlement<=>42<=>100<#>
simple<=>x_address<=>62<=>100<#>
simple<=>x_contactName<=>62<=>100<#>
simple<=>x_phone<=>20<=>20<#>
simple<=>x_fax<=>20<=>20<#>
simple<=>x_mobile<=>20<=>20<#>
simple<=>x_email<=>40<=>55<#>
simple<=>x_website<=>40<=>55<#>
datePanel<=>x_activateWhen<=>20<=>20<#>
datePanel<=>x_deactivateWhen<=>20<=>20<#>
simple<=>x_playMaxNum<=>20<=>20<#>
simple<=>x_playCounter<=>20<=>20<#>
simple<=>x_clickMaxNum<=>20<=>20<#>
simple<=>x_clickCounter<=>20<=>20<#>
simple<=>x_priceMax<=>20<=>20<#>
simple<=>x_priceActual<=>20<=>20<#>
editorText<=>x_description<=>740<=>200
##/inputCFG##
##checkCFG##
empty<=>x_name<=>name<#>
duplicate<=>x_name<=>name<=>name=;x_name<=>id!=;x_id,name=;x_name
##/checkCFG##
##positionCFG##
x_name<=>case<#>
x_name<=>default
##/positionCFG##
##deleteCFG##
simple<=>core_advert_advertiser WHERE id=
##/deleteCFG##
##basicSearchFieldsCFG##
core_localserverName<#>
nocore_doctorName<#>
name<#>
contactName<#>
zipcode<#>
contactName<#>
settlement<#>
address<#>
phone<#>
fax<#>
mobile<#>
email<#>
description<#>
insertName<#>
comment
##/basicSearchFieldsCFG##
##relatedTablesCFG##
core_localserver.name<=>core_localserver<=>core_advert_advertiser.core_localserverID=core_localserver.id<=>core_localserverName<=>,<#>
nocore_doctor.name<=>nocore_doctor<=>core_advert_advertiser.insertUserID=nocore_doctor.id<=>nocore_doctorName<=>,<#>
COUNT(core_advert.name)<=>core_advert<=>core_advert_advertiser.id=core_advert.core_advert_advertiserID<=>actionCount<=>,<#>
core_users.nickname<=>core_users<=>core_advertiser.insertUserID=core_users.id<=>insertName<=>
##/relatedTablesCFG##
##itemValuesPlus##
actionCount
##/itemValuesPlus##
##javascriptCFG##
jquery-1.7.1<#>
/ui/jquery.ui.core<#>
/ui/jquery.ui.widget<#>
/ui/jquery.ui.datepicker<#>
/ui/jquery.ui.datepicker-hu
##/javascriptCFG##
##popupAddIDCFG##
x_advertiserID<=>advert_x_advertiserID
##/popupAddIDCFG##
##popupCloseCFG##
close
##/popupCloseCFG##
##listFilterCFG##
optionSelect<=>core_localserver<=>s_core_localserverID<=>id<=>name<=>core_advert_advertiser<=>150<#>
optionSelect<=>nocore_doctor<=>s_nocore_doctorID<=>id<=>name<=>core_advert_advertiser<=>150<#>
##/listFilterCFG##
