##modulCFG##
name<=>##modul##<#>
mainTable<=>core_support_type<#>
modulBase<=>modulframe<#>
impPath<=>##modul##/<#>
templatePopupName<=>layout2<#>
viewDescription<=>0<#>
is_newItemcount<=>0<#>
noCopy<=>1<#>
noView<=>1<#>
localserverNo<=>1<#>
##/modulCFG##
##listCFG##
simple<=>order<=>name<=>x_name<#>
simple<=>order<=>actionCount<=>x_actionCount<#>
insertwhowhen<=>order<=>insertWhen<=>x_insertWhen<#>
##/listCFG##
##inputCFG##
simple<=>x_name<=>62<=>100<#>
editorText<=>x_description<=>740<=>200<#>
simpleText<=>x_comment<=>115<=>10
##/inputCFG##
##beforeAddCFG##
##/beforeAddCFG##
##checkCFG##
empty<=>x_name<=>name<#>
##/checkCFG##
##positionCFG##
x_name<=>case<#>
x_name<=>default
##/positionCFG##
##deleteCFG##
simple<=>core_support_type WHERE id=
##/deleteCFG##
##basicSearchFieldsCFG##
name
##/basicSearchFieldsCFG##
##relatedTablesCFG##
COUNT(core_support.id)<=>core_support<=>core_support_type.id=core_support.core_support_typeID<=>actionCount<=>
##/relatedTablesCFG##
##itemValuesPlus##
actionCount
##/itemValuesPlus##
##javascriptCFG##
jquery-1.7.1<#>
/ui/jquery.ui.core<#>
/ui/jquery.ui.widget<#>
/ui/jquery.ui.datepicker<#>
/ui/jquery.ui.datepicker-hu
##/javascriptCFG##
##popupAddIDCFG##
##/popupAddIDCFG##
##popupCloseCFG##
close
##/popupCloseCFG##
##listFilterCFG##
##/listFilterCFG##
##defaultFilterCFG##
##/defaultFilterCFG##
##configsCFG##
name='##modul##'
##/configsCFG##