##modulCFG##
name<=>core_advert_campaign<#>
mainTable<=>core_advert_campaign<#>
modulBase<=>modulframe<#>
impPath<=>core_advert_campaign/<#>
templatePopupName<=>layout2<#>
viewDescription<=>0<#>
is_newItemcount<=>0<#>
noCopy<=>1<#>
noView<=>1<#>
##/modulCFG##
##listCFG##
optionView<=>selectName<=>core_localserver<=>x_core_localserverID<=>id<=>name<#>
optionView<=>selectName<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<#>
optionView<=>selectName<=>core_advert_advertiser<=>x_core_advert_advertiserID<=>id<=>name<#>
optionView<=>selectName<=>core_advert_zone<=>x_core_advert_zoneID<=>id<=>name<#>
simple<=>order<=>name<=>x_name<#>
simple<=>order<=>actionCount<=>x_actionCount<#>
insertwhowhen<=>order<=>insertWhen<=>x_insertWhen<#>
##/listCFG##
##inputCFG##
optionSelect<=>core_localserver<=>x_core_localserverID<=>id<=>name<=><=>150<#>
optionSelect<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<=><=>150<#>
optionSelect<=>core_advert_advertiser<=>x_core_advert_advertiserID<=>id<=>name<=><=>150<#>
simple<=>x_name<=>62<=>100<#>
optionSelect<=>core_advert_zone<=>x_core_advert_zoneID<=>id<=>name<=><=>150<#>
datePanel<=>x_activateWhen<=>20<=>20<#>
datePanel<=>x_deactivateWhen<=>20<=>20<#>
simple<=>x_playMaxNum<=>20<=>20<#>
simple<=>x_playCounter<=>20<=>20<#>
simple<=>x_clickMaxNum<=>20<=>20<#>
simple<=>x_clickCounter<=>20<=>20<#>
simple<=>x_priceMax<=>20<=>20<#>
simple<=>x_priceActual<=>20<=>20<#>
simpleText<=>x_description<=>920<=>200<#>
simpleText<=>x_comment<=>10<=>125
##/inputCFG##
##checkCFG##
empty<=>x_name<=>name<#>
duplicate<=>x_name<=>name<=>name=;x_name<=>id!=;x_id,name=;x_name
##/checkCFG##
##positionCFG##
x_name<=>case<#>
x_name<=>default
##/positionCFG##
##deleteCFG##
simple<=>core_advert_campaign WHERE id=
##/deleteCFG##
##basicSearchFieldsCFG##
core_localserverName<#>
nocore_doctorName<#>
name<#>
core_advert_advertiserName<#>
core_advert_zoneName<#>
insertName<#>
description
##/basicSearchFieldsCFG##
##relatedTablesCFG##
core_localserver.name<=>core_localserver<=>core_advert_campaign.core_localserverID=core_localserver.id<=>core_localserverName<=>,<#>
nocore_doctor.name<=>nocore_doctor<=>core_advert_campaign.insertUserID=nocore_doctor.id<=>nocore_doctorName<=>,<#>
COUNT(core_advert.name)<=>core_advert<=>core_advert_campaign.id=core_advert.core_advert_campaignID<=>actionCount<=>,<#>
core_advert_advertiser.name<=>core_advert_advertiser<=>core_advert_campaign.core_advert_advertiserID=core_advert_advertiser.id<=>core_advert_advertiserName<=>,<#>
core_advert_zone.name<=>core_advert_zone<=>core_advert_campaign.core_advert_zoneID=core_advert_zone.id<=>core_advert_zoneName<=>,<#>
core_users.nickname<=>core_users<=>core_advert_campaign.insertUserID=core_users.id<=>insertName<=>
##/relatedTablesCFG##
##itemValuesPlus##
actionCount
##/itemValuesPlus##
##javascriptCFG##
jquery-1.7.1<#>
/ui/jquery.ui.core<#>
/ui/jquery.ui.widget<#>
/ui/jquery.ui.datepicker<#>
/ui/jquery.ui.datepicker-hu
##/javascriptCFG##
##popupAddIDCFG##
x_campaignID<=>advert_x_campaignID
##/popupAddIDCFG##
##popupCloseCFG##
close
##/popupCloseCFG##
##cssCFG##
##/cssCFG##
##listFilterCFG##
optionSelect<=>core_localserver<=>s_core_localserverID<=>id<=>name<=>core_advert_campaign<=>150<#>
optionSelect<=>nocore_doctor<=>s_nocore_doctorID<=>id<=>name<=>core_advert_campaign<=>150<#>
optionSelect<=>core_advert_advertiser<=>s_core_advert_advertiserID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_zone<=>s_core_advert_zoneID<=>id<=>name<=>core_advert<=>150
##/listFilterCFG##
