##modulCFG##
name<=>core_advert<#>
mainTable<=>core_advert<#>
modulBase<=>modulframe<#>
imgPath<=>core_advert/<#>
displayRecs<=>5<#>
viewDescription<=>0<#>
is_newItemcount<=>0<#>
noCopy<=>0<#>
noView<=>0<#>
##/modulCFG##
##listCFG##
optionView<=>selectName<=>core_localserver<=>x_core_localserverID<=>id<=>name<#>
optionView<=>selectName<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<#>
simple<=>order<=>name<=>x_name<#>
thumbView<=>simple<=>advertFileName<=>x_advertFileName<#>
simple<=>order<=>core_advert_sourceName<=>x_core_advert_sourceName<#>
simple<=>order<=>sizeWidth<=>x_sizeWidth<#>
simple<=>order<=>sizeHeight<=>x_sizeHeight<#>
insertwhowhen<=>order<=>insertWhen<=>x_insertWhen<#>
##/listCFG##
##inputCFG##
optionSelect<=>core_localserver<=>x_core_localserverID<=>id<=>name<=><=>150<#>
optionSelect<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<=><=>150<#>
optionSelect<=>core_advert_advertiser<=>x_core_advert_advertiserID<=>id<=>name<=>core_advert<=>150<=>core_advert_advertiser<=><#>
optionSelect<=>core_advert_campaign<=>x_core_advert_campaignID<=>id<=>name<=>core_advert<=>150<=>core_advert_campaign<#>
optionSelect<=>core_advert_group<=>x_core_advert_groupID<=>id<=>name<=>core_advert<=>150<=>core_advert_group<#>
optionSelect<=>core_advert_zone<=>x_core_advert_zoneID<=>id<=>name<=>core_advert<=>150<=>core_advert_zone<#>
optionSelect<=>core_advert_source<=>x_core_advert_sourceID<=>id<=>name<=>core_advert<=>150<=>core_advert_source<#>
optionSelect<=>core_advert_size<=>x_core_advert_sizeID<=>id<=>name<=>core_advert<=>150<=>core_advert_size<#>
simple<=>x_name<=>62<=>100<#>
pictureView<=>x_advertFileName<=>62<=>100<#>
editorText<=>x_textValue<=>920<=>200<#>
simple<=>x_jumpURL<=>62<=>100<#>
simple<=>x_sizeWidth<=>4<=>4<#>
simple<=>x_sizeHeight<=>4<=>4<#>
simple<=>x_changeTime<=>62<=>100<#>
datePanel<=>x_activateWhen<=>20<=>20<#>
datePanel<=>x_deactivateWhen<=>20<=>20<#>
simple<=>x_playMaxNum<=>20<=>20<#>
simple<=>x_playCounter<=>20<=>20<#>
simple<=>x_clickMaxNum<=>20<=>20<#>
simple<=>x_clickCounter<=>20<=>20<#>
simple<=>x_priceMax<=>20<=>20<#>
simple<=>x_priceActual<=>20<=>20<#>
editorText<=>x_description<=>920<=>200<#>
simpleText<=>x_comment<=>10<=>125
##/inputCFG##
##checkCFG##
empty<=>x_name<=>name<#>
duplicate<=>x_name<=>name<=>name=;x_name<=>id!=;x_id,name=;x_name
##/checkCFG##
##positionCFG##
x_name<=>case<#>
x_name<=>default
##/positionCFG##
##deleteCFG##
simple<=>core_advert WHERE id=<#>
file<=>x_advertFileName
##/deleteCFG##
##basicSearchFieldsCFG##
core_localserverName<#>
nocore_doctorName<#>
name<#>
advertFileName<#>
textValue<#>
jumpURL<#>
description<#>
comment<#>
core_advert_advertiserName<#>
core_advert_campaignName<#>
core_advert_groupName<#>
core_advert_zoneName<#>
core_advert_sourceName<#>
core_advert_sizeName<#>
insertName
##/basicSearchFieldsCFG##
##afterAddCFG##
fileAdd<=>x_advertFileName<=>advertFileName
##/afterAddCFG##
##modulEditCFG##
fileAdd#x_advertFileName#advertFileName
##/modulEditCFG##
##relatedTablesCFG##
core_localserver.name<=>core_localserver<=>core_advert.core_localserverID=core_localserver.id<=>core_localserverName<=>,<#>
nocore_doctor.name<=>nocore_doctor<=>core_advert.insertUserID=nocore_doctor.id<=>nocore_doctorName<=>,<#>
core_advert_campaign.name<=>core_advert_campaign<=>core_advert.core_advert_campaignID=core_advert_campaign.id<=>core_adverft_campaignName<=>,<#>
core_advert_advertiser.name<=>core_advert_advertiser<=>core_advert.core_advert_advertiserID=core_advert_advertiser.id<=>core_advert_advertiserName<=>,<#>
core_advert_group.name<=>core_advert_group<=>core_advert.core_advert_groupID=core_advert_group.id<=>core_advert_groupName<=>,<#>
core_advert_zone.name<=>core_advert_zone<=>core_advert.core_advert_zoneID=core_advert_zone.id<=>core_advert_zoneName<=>,<#>
core_advert_source.name<=>core_advert_source<=>core_advert.core_advert_sourceID=core_advert_source.id<=>core_advert_sourceName<=>,<#>
core_advert_size.name<=>core_advert_size<=>core_advert.core_advert_sizeID=core_advert_size.id<=>core_advert_sizeName<=>,<#>
core_users.nickname<=>core_users<=>core_advert.insertUserID=core_users.id<=>insertName<=>
##/relatedTablesCFG##
##itemValuesPlus##
core_advert_sourceName<#>
##/itemValuesPlus##
##javascriptCFG##
advert<#>
jquery-1.7.1<#>
/ui/jquery.ui.core<#>
/ui/jquery.ui.widget<#>
/ui/jquery.ui.datepicker<#>
/ui/jquery.ui.datepicker-hu
##/javascriptCFG##
##popupAddIDDeleteCFG##
##/popupAddIDDeleteCFG##
##cssCFG##
##/cssCFG##
##listFilterCFG##
optionSelect<=>core_localserver<=>s_core_localserverID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>nocore_doctor<=>s_nocore_doctorID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_advertiser<=>s_core_advert_advertiserID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_campaign<=>s_core_advert_campaignID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_group<=>s_core_advert_groupID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_zone<=>s_core_advert_zoneID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_source<=>s_core_advert_sourceID<=>id<=>name<=>core_advert<=>150<#>
optionSelect<=>core_advert_size<=>s_core_advert_sizeID<=>id<=>name<=>core_advert<=>150
##/listFilterCFG##