##modulCFG##
name<=>##modul##<#>
mainTable<=>nocore_where<#>
modulBase<=>modulframe<#>
impPath<=>##modul##/<#>
templatePopupName<=>layout2<#>
viewDescription<=>0<#>
is_newItemcount<=>0<#>
nocore_doctorFilter<=>1<#>
noCopy<=>1<#>
noView<=>1<#>
##/modulCFG##
##listCFG##
optionView<=>selectName<=>core_localserver<=>x_core_localserverID<=>id<=>name<#>
optionView<=>selectName<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<#>
simple<=>order<=>name<=>x_name<#>
simple<=>order<=>actionCount<=>x_actionCount<#>
insertwhowhen<=>order<=>insertWhen<=>x_insertWhen<#>
##/listCFG##
##inputCFG##
optionSelect<=>core_localserver<=>x_core_localserverID<=>id<=>name<=><=>150<#>
optionSelect<=>nocore_doctor<=>x_nocore_doctorID<=>id<=>name<=><=>150<#>
simple<=>x_name<=>62<=>100<#>
editorText<=>x_description<=>740<=>200<#>
simpleText<=>x_comment<=>115<=>10
##/inputCFG##
##beforeAddCFG##
##/beforeAddCFG##
##checkCFG##
empty<=>x_name<=>name<#>
##/checkCFG##
##positionCFG##
x_name<=>case<#>
x_name<=>default
##/positionCFG##
##deleteCFG##
simple<=>nocore_where WHERE id=
##/deleteCFG##
##basicSearchFieldsCFG##
core_localserverName<#>
nocore_doctorName<#>
name
##/basicSearchFieldsCFG##
##relatedTablesCFG##
core_localserver.name<=>core_localserver<=>nocore_where.core_localserverID=core_localserver.id<=>core_localserverName<=>,<#>
nocore_doctor.name<=>nocore_doctor<=>nocore_where.nocore_doctorID=nocore_doctor.id<=>nocore_doctorName<=>,<#>
COUNT(nocore_barcode.id)<=>nocore_barcode<=>nocore_where.id=nocore_barcode.nocore_whereID<=>actionCount<=>
##/relatedTablesCFG##
##itemValuesPlus##
core_localserverName<#>
nocore_doctorName<#>
actionCount
##/itemValuesPlus##
##javascriptCFG##
jquery-1.7.1<#>
/ui/jquery.ui.core<#>
/ui/jquery.ui.widget<#>
/ui/jquery.ui.datepicker<#>
/ui/jquery.ui.datepicker-hu
##/javascriptCFG##
##popupAddIDCFG##
##/popupAddIDCFG##
##popupCloseCFG##
close
##/popupCloseCFG##
##listFilterCFG##
optionSelect<=>core_localserver<=>s_core_localserverID<=>id<=>name<=>nocore_where<=>150<#>
optionSelect<=>nocore_doctor<=>s_nocore_doctorID<=>id<=>name<=>nocore_where<=>150<#>
##/listFilterCFG##
##defaultFilterCFG##
##/defaultFilterCFG##
##configsCFG##
##/configsCFG##
##shareFieldCFG##
nocore_doctorID::S<#>
core_localserverID::S<#>
##/shareFieldCFG##
